---
import WebinarLayout from '../layouts/WebinarLayout.astro';
import Header from '../components/Header.astro';
import FAQ from '../components/FAQ.astro';
import Testimonial from '../components/Testimonial.astro';
import data from '../content/funnelsData.json';

const funnel = data.funnels[0]; // Get the first funnel
const { hero, webinarDetails } = funnel;
---

<WebinarLayout title="Del Caos a la Claridad: Automatización para Empresas">
   <Header />
  
  <main class="container mx-auto px-4 py-8">
    <div class="grid md:grid-cols-2 gap-8">
      <!-- Left Column -->
      <div class="space-y-8">
        <div>
          <h1 class="text-4xl md:text-5xl font-bold text-primary mb-4">
            {hero.title}
          </h1>
          <h2 class="text-2xl md:text-3xl text-dark mb-6">
            {hero.subtitle}
          </h2>
          
          <div class="bg-white rounded-lg shadow-xl">
            <div class="p-6">
              <iframe data-tally-src={hero.formLink} width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0" title="Registro Webinar" class="rounded-lg"></iframe>
            </div>
          </div>

          <div class="mt-8 flex justify-center space-x-4">
            <img src="/payment1.png" alt="Método de pago 1" class="h-8" />
            <img src="/payment2.png" alt="Método de pago 2" class="h-8" />
          </div>
        </div>
      </div>

      <!-- Right Column -->
      <div class="space-y-8">
        <div class="rounded-lg overflow-hidden">
          <img 
            src={hero.heroImage}
            alt="Automatización" 
            class="w-full rounded-lg"
          />
        </div>

        <Testimonial />
        
        <FAQ />
      </div>
    </div>

    <!-- Detalles del Webinar -->
    <section class="bg-white rounded-lg shadow-xl mt-16">
      <div class="p-1">
        <h3 class="text-2xl font-bold text-primary mb-6">{webinarDetails.title}</h3>
        <div class="grid md:grid-cols-2 gap-8">
          <div>
            <h4 class="font-semibold mb-2">Estructura del Taller:</h4>
            <ul class="list-disc list-inside space-y-2 text-gray-700">
              {webinarDetails.workshop.map((item) => (
                <li>{item.title} ({item.duration})</li>
              ))}
            </ul>
          </div>
          <div>
            <h4 class="font-semibold mb-2">Materiales Exclusivos:</h4>
            <ul class="list-disc list-inside space-y-2 text-gray-700">
              {webinarDetails.materials.map((item) => (
                <li>{item.title}</li>
              ))}
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script is:inline>
    window.addEventListener('load', function() {
      if (typeof Tally !== 'undefined') {
        Tally.loadEmbeds();
      }
    });
  </script>
       
           
</WebinarLayout>

